:root {
  --bg-color: #f5f5f5;
  --text-color: #707070;
  --shadow-color: rgba(0, 0, 0, 0.16);

  /* English section colors */
  --section-1-color: #7ab745;
  --section-2-color: #a572ea;
  --section-3-color: #f08383;

  /* Ukrainian section colors */
  --food-color: #71bf71;
  --places-color: #83a8e5;
  --people-color: #f49fb0;

  /* Transition Curves */
  --nice-spring: cubic-bezier(0.86, -0.85, 0.18, 1.68);
  --snap: cubic-bezier(0.01, 0.45, 0.3, 1.55);
  --wind-up: cubic-bezier(0.58, -0.32, 1, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  font-family: sofia-pro-soft, sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  border: 6px solid #fff;
  height: 100vh;
  overflow: hidden;
}

/* Disable-enable selection */
.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectEnable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

/* Header */
header.header {
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  z-index: 200;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 15px 33px;
  box-shadow: 0 3px 6px var(--shadow-color);
}

/* Language Indicator Button */
.lng-select.usa img {
  content: url(../img/flags/am_flag.png);
}
.lng-select.ger img {
  content: url(../img/flags/ger_flag.png);
}
.lng-select.fr img {
  content: url(../img/flags/fr_flag.png);
}
.lng-select.ukr img {
  content: url(../img/flags/ukr_flag.png);
}

/* Language Select Menu */
.lng-menu {
  visibility: hidden;
  width: 100%;
  height: 110px;
  padding: 0 28px;
  background: rgba(255, 255, 255, 0.5);
  transform: translate(0);
  padding-top: 30px;
  z-index: 199;
  /* closing transition */
  transition: 0.25s all var(--wind-up);
}

.lng-menu.show {
  visibility: visible;
  transform: translate(0, 80px);
  /* opening transition */
  transition: 0.18s all var(--snap);
}

.lng-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 80px;
}

.lng-menu-item {
  cursor: pointer;
}

.lng-menu-item.selected {
  cursor: no-drop;
  opacity: 0.5;
}

/* Content */
#content {
  width: 100%;
  position: relative;
  top: 110px;
  /* height: 100%; */
  z-index: 0;
}

#content.expanded {
  top: 0;
  height: 100vh;
  z-index: 999;
}

.content-grid {
  position: absolute;
  width: 100%;
  height: 184px;
  top: 0;
  left: 0;
  padding: 5rem 2rem;
  transform: translate(0, -100vh);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}

.content-grid.show {
  height: calc(100vh - 120px);
  transform: translate(0);
  opacity: 1;
}

.content-grid.show.expanded {
  height: 100vh;
  width: 200%;
  left: -50%;
}

.content-grid h3 {
  font-size: 2rem;
  text-align: center;
}

.content-grid .info-text {
  color: rgba(0, 0, 0, 0.25);
}

.content-item-top {
  margin-bottom: auto;
}

.content-item-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Card collapsed */
.content-item {
  position: relative;
  top: 0px;
  left: 0;
  width: 128px;
  height: 128px;
  margin: 0;
  padding: 1.2rem;
  border: 8px solid #fff;
  border-radius: 64px;
  box-shadow: 0 4px 8px var(--shadow-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 5;

  transition: 0.25s all ease-in-out;
}

/* Card Expanded */
.content-item.expanded {
  top: 100px;
  width: calc(100vw - 12px);
  height: calc(100vh - 12px);
  border-radius: 32px;
  border-width: 0;
  box-shadow: none;

  justify-content: space-between;

  cursor: auto;
  z-index: 1000;

  transition: 0.3s all ease-in-out;
}

.content-item img#donut {
  margin: 0;
  width: 85.5px;
  height: 87.5px;
  -webkit-filter: drop-shadow(0 2px 0 rgba(35, 92, 35, 0.5));
  filter: drop-shadow(0 2px 0 rgba(35, 92, 35, 0.5));
  transition: 0.25s all ease-in-out;
}

.content-item.expanded img#donut {
  margin: 1.4em 0;
  width: 216px;
  height: 211px;
  -webkit-filter: drop-shadow(0 20px 4px rgba(35, 92, 35, 0.13));
  filter: drop-shadow(0 20px 4px rgba(35, 92, 35, 0.13));
  transition: 0.3s all ease-in-out 0.1s;
}

.content-item .card-top {
  opacity: 0;
  width: 0;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-item.expanded .card-top {
  opacity: 1;
  height: auto;
  width: 100%;
  /* transition: 0.3s all ease-in-out 0.1s; */
}

.content-item .close-btn {
  flex-grow: 0;
}

.content-item.expanded .close-btn img {
  width: 28px;
  height: 28px;
}

#progress-bar {
  position: relative;
  flex-grow: 2;
  width: 1%;
  height: 14px;
  margin-left: 1.2rem;
}

.content-item.expanded #progress-bar {
  width: 100%;
}

.content-item .progress-line {
  height: 100%;
  width: 2%;
  border-radius: 5px;
  background: #ffe200;
}

.content-item.expanded .progress-line {
  width: 50%;
  transition: 0.5s all var(--nice-spring) 0.2s;
}

#progress-bar .progress-back {
  height: 100%;
  padding: 2px;
  background: #66b266;
  border-radius: 7px;
}

.content-item p.card-text {
  position: relative;
  top: -50px;
  opacity: 0;
  height: 0;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #fff;
  text-align: center;
}

.content-item.expanded p.card-text {
  top: 0;
  margin: auto 0;
  opacity: 1;
  height: auto;
  transition: 0.3s all ease-in-out 0.2s;
}

.content-item .choices {
  position: relative;
  top: -100px;
  opacity: 0;
  width: 100%;
  height: 0;
  margin: 0;
  /* padding: 0 1rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-item.expanded .choices {
  top: 0;
  height: auto;
  /* width: 100%; */
  margin: 3rem 0;
  opacity: 1;
  transition: 0.3s all ease-in-out 0.2s;
}

.choices .choices-btn {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--food-color);
  background: #fff;
  /* margin: 0 20px; */
  padding: 0.6rem 1.5rem;
  border-radius: 19px;
}

.content-item img#mic {
  display: block;
  position: relative;
  top: -100px;
  width: 73px;
  height: 124px;
  opacity: 0;
  height: 0;
}

.content-item.expanded img#mic {
  top: 0;
  opacity: 1;
  height: auto;
  transition: 0.5s all ease-in-out;
}

#usa-content .content-item.item-1 {
  padding-top: 0.9rem;
  background: var(--section-1-color);
}

#usa-content .content-item.item-2 {
  background: var(--section-2-color);
}

#usa-content .content-item.item-3 {
  background: var(--section-3-color);
}

#ukr-content .content-item.item-1 {
  background: var(--food-color);
}

#ukr-content .content-item.item-2 {
  background: var(--places-color);
}

#ukr-content .content-item.item-3 {
  background: var(--people-color);
}

#ukr-content .content-item.item-3 img {
  width: 90%;
}

/* Background blur on language select menu */
@supports (
  (-webkit-backdrop-filter: saturate(180%) blur(20px)) or
    (backdrop-filter: saturate(180%) blur(20px))
) {
  .lng-menu {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: saturate(180%) blur(30px);
    backdrop-filter: saturate(180%) blur(30px);
  }
}

/* Retina Support */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Language Indicator Button */
  .lng-select img {
    width: 64px;
    height: 46px;
  }
  .lng-select.usa img {
    content: url(../img/flags/am_flag@2x.png);
  }
  .lng-select.ger img {
    content: url(../img/flags/ger_flag@2x.png);
  }
  .lng-select.fr img {
    content: url(../img/flags/fr_flag@2x.png);
  }
  .lng-select.ukr img {
    content: url(../img/flags/ukr_flag@2x.png);
  }
}
